<%- include("partials/heading") -%>
  <h1>Please choose a category</h1>
  <a href="/question/animals">Animals</a>
  <a href="/question/geography">Geography</a>
  <a href="/question/celebrity">Celebrity</a>

<%- include("partials/footer") -%>
