<%- include("partials/heading") -%>
  <h1>What's your name?</h1>
  <form action="/" method="post">
    <input type="text" name="playerName">
    <button type="submit">Let's play!</button>
  </form>

<%- include("partials/footer") -%>
