<%- include("partials/heading") -%>
<h1>Please choose a category</h1>
<a href="/leaderboard/animals">Animals</a>
<a href="/leaderboard/geography">Geography</a>
<a href="/leaderboard/celebrity">Celebtrity</a>
<%- include("partials/footer") -%>
